body {
  margin: 0;
  font-family: 'AntipastoProDemibold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'AntipastoProDemibold';
  src: url('./fonts/AntipastoPro/Zetafonts\ -\ Antipasto\ Pro\ Demibold.otf') format("truetype");
}