.Article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    height: 80px;
    margin-left: 45px;
    margin-right: 25px;
}
.Article:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.Article-button:hover .Article-img {
    display: block;
    cursor: pointer;
}


.Article-title-author {
    display:flex;
}

.Article-title {
    color: #333;
    font-size: 13pt;
    margin-left: 20px;
}
.Article-time {
    display: flex;
    position: relative;
    color: #333;
    font-size: 13pt;
    margin-right: 150px;
}
.Article-author {
    color: #999;
    margin-left: 15px;
}

.Article-img {
    display: none;
    position: absolute;
    right: 40px;
    margin-top: -52px;
    border: none;
    background-color: transparent;
}
