.Header {
    background-color: #333;
    color: #ffff;
    width: 100%;
    height: 200px;
    padding-left: 40px;
    padding-top: 40px;
}

.Header-title {
    font-size: 80px;
}
.Header-subtitle {
    font-size: 25px;
}